.endGameScreen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  margin: 18% 10%;
}

.restartButton {
  background-color: transparent;
  border: 1px solid oklch(29.518% 0.14876 265.931);
  transition: background-color 0.3s, transform 0.3s;
  color: var(--primary);
  width: auto;
  min-width: 180px;
  white-space: nowrap;
  font-size: 1.5rem;
  margin: 10px;
}

.restartButton:hover {
  background-color: oklch(29.518% 0.14876 265.931);
  color: white;
  transform: scale(1.05);
}

.endGameScreenText {
  text-align: center;
}