#Header {
    height: 100%;
    background-image: url(../../../assets/images/joey4Flipped.jpg) !important;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    display: flex;
}

#Header-Text {
    display: block;
    margin-left: 100px;
}

@media screen and (max-width: 1024px) {
    #Header-Text{
        margin: auto;
    }
}

@media screen and (max-width: 900px) and (max-height: 480px) {
    #Header-Text{
        margin: 5%;
    }
}