.App {
  text-align: center;
  width: 1000px;
  display: inline-block;
}

.header {
  margin-top: 20px;
  margin-bottom: 50px;
}

.headshot {
  width:200px;
}

.projects-container {
  text-align: center;
}

.project {
  display: inline-block;
  border: 1px solid black;
}

.info-link {
  display: inline-block;
  border: 1px solid black;
}