.projects-container {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  min-height: 80vh;
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
}



.Projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  gap: 1rem;
}


.project-card-section {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  width: auto;
}

.project-selector {
  position: absolute;
  left: calc(-3rem);
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}




#card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 15px;
  background-color: rgb(27, 27, 39);
  height: 100%;
  width: 100%;
  max-width: 500px;
  box-sizing: border-box;
  overflow: hidden;
}

#Card-Image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-height: 200px;
  overflow: hidden;
  margin-bottom: 10px;
  margin-top: 20px;
}

#Card-Image > img {
  max-width: 90%;
  max-height: 100%;
  object-fit: contain;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.invert-svg-colors[src$=".svg"] {
  filter: brightness(0) invert(1);
}

#Card-Text {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  justify-content: flex-start;
  text-align: center;
  padding: 0 1rem;
}

#Card-Title {
  display: flex;
  justify-content: center;
  text-decoration: underline;
  padding-top: 10px;
  font-size: 25px;
  color: white;
}

#Card-Description {
  padding-top: 10px;
  font-size: 20px;
  color: rgb(200, 200, 200);
}

#Modal {
  overflow-y: auto;
}

.Modal-Image {
  max-width: 100%;
  max-height: 100%;
  padding: 10px;
}

#Modal-Body {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 667px) {
  #card {
    margin-top: 10%;
    max-width: 300px;
  }

  #Card-Image {
    max-height: 120px;
  }

  #Card-Title {
    font-size: 17px;
  }

  #Card-Description {
    font-size: 12px;
  }
}

@media screen and (max-width: 1024px) {
  .project-selector {
    left: -15px;
    width: 16px;
    height: 16px;
  }
}


@media screen and (max-width: 480px) {
  #card {
    margin-top: 50%;
    max-width: 260px;
  }

  #Card-Image {
    max-height: 100px;
  }

  #Card-Title {
    font-size: 14px;
  }

  #Card-Description {
    font-size: 12px;
  }
}
