#card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 15px;
}

#Card-Image {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 50%;
}

#Card-Image > img {
  max-width: 50%;
  max-height: 100%;
}

#Card-Text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#Card-Title {
  display: flex;
  justify-content: center;
  text-decoration: underline;
  padding-top: 10px;
  font-size: 20px;
}

#Card-Description {
  padding-top: 10px;
  font-size: 15px;  
}

#Modal {
  overflow-y: auto;
}

#Modal-Image {
  max-width: 100%;
  max-height: 100%;
  padding: 10px;
}

#Modal-Body {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 667px) {
  #card {
    margin-top: 10%;
  }

  #Card-Title {
    padding: 0;
    margin: 0; 
    font-size: 17px;
  }

  #Card-Description {
    padding: 0;
    font-size: 12px;
  }

}

@media screen and (max-height: 580px) {
  #Card-Image {
    height: 30%;
    max-height: 30%; 
  }
}

@media screen and (max-width: 580px) and (orientation: landscape){
  #Card-Image {
    height: 30%;
    max-height: 30%; 
  }
} 

@media screen and (max-width: 480px) {
  #card {
    margin-top: 50%;
  }

  #Card-Title {
    padding-top: 10px;
    font-size: 10px;
  }

  #Card-Description {
    font-size: 12px;
  }

  #Card-Image {
    max-height: 50%;
  }

}